
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #181818;
}

nav {
	background-color: #181818;
	border-bottom: 2px solid #986beb;
	animation: nav-anim 0.8s ease-in-out;
}

.btn {
	background-color: #986beb;
	color: white;
}

.navbar-brand {
	left: 3rem;
	color: #986beb !important; /*violet color*/
}

.navbar-toggler {
	background-color: #986beb !important;
}

div > ul > .nav-item > a {
	color: #ffffff;
}

.navbar-dark .navbar-nav .selected {
	color: #986beb
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #986beb;
}

.navbar-brand {
	font-size: 1.8rem;
	font-family: 'Pacifico', sans-serif !important;
}

.banner-container {
    width: 100%;
    position: relative;
    padding: 0px;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
    background-size: 100% 100%;
    background-size: cover;
    margin-top: 60px;
    position: relative;
}

.banner-container > img {
	width: 100%;
	animation: nav-anim 1s ease-in-out;
}

.banner-container h2 {
	animation: banner-title-anim 0.8s ease-in-out;
}

.banner-content {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 0px;
    right: 0px;
}

.banner-container #code {
	color: #986beb;
	opacity: 0;
	animation: banner-p-anim 0.8s ease-in-out forwards;
	animation-delay: 0.3s;
}

.banner-container #test {
	color: #f5b52c;
	opacity: 0;
	animation: banner-p-anim 0.8s ease-in-out forwards;
	animation-delay: 0.5s;
}

.banner-container #debug {
	color: #eb6f6b;
	opacity: 0;
	animation: banner-p-anim 0.8s ease-in-out forwards;
	animation-delay: 0.7s;
}

#about-me > div {
	padding-top: 100px !important;
}

#about-me > div, #projects .card {
	background-color: #181818;
}

#about-me #name {
	color: #986beb;
}

/*#sub-description {
	margin-left: 10rem;
	margin-right: 10rem;
}
*/
#languages > div, #projects > div {
	background-color: #313030; /*dark image*/
}

#languages .fa-brands, .fa-solid, .fa {
	font-size: 58px;
	color: #986beb;
}

#languages .lang-txt {
	color: white;
}

#languages #svg-languages {
	object-fit: cover;
	filter: invert(45%) sepia(65%) saturate(861%) hue-rotate(222deg) brightness(96%) contrast(92%);
}

.bg-q {
  padding: 0px;
  background-image: url('images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.q-back {
	padding: 60px 60px 60px 60px;
	background-color: rgba(0, 0, 0, 0.37);
	color: #FDFDFD !important;
}

/*projects header*/
#projects > div > h4 {
	font-weight: bold;
	color: #986beb;
}

#projects > div {
	padding-top: 100px !important;
}

#projects .card-title {
	color: #986beb;
	font-weight: bold;
}

#projects .card, .card > img {
	border-radius: 20px;
	padding: 5px;
}

#contactMe > div {
	background-color: #e6e6fa;
}

#contactMe h2 {
	color: #986beb;
}

#contactMe input {
	width: 15rem;
}

#contactMe input:hover {
	border: 2px solid #986beb;
	border-radius: 5px;
}

#facebook {
    height: 40px;
    filter: invert(45%) sepia(65%) saturate(861%) hue-rotate(222deg) brightness(96%) contrast(92%);
}

/*footer text headers*/
footer div > h4 {
	font-size: 1.2rem;
	color: #986beb;
}

footer address {
	font-size: 0.9rem;
}

/*facebook & github icons*/
footer a .fa-facebook, a .fa-github {
	font-size: 2rem;
}

/*Animations*/
@keyframes nav-anim {
	0% {
		transform: translateY(-100px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes 	banner-title-anim {
	0% { 
		opacity: 0;
		letter-spacing: 3px;
		transform: translateX(-150px); 
	}
	50% { opacity: 1; }
	100% {
		transform: translateX(0); 
	}
}

@keyframes banner-p-anim {
	0% {
		opacity: 0;
		transform: translateY(-150px);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}
}